*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: #2b69cd;
    padding-top: 80px;
}

#cadastro{
    display: flex;
    padding: 30px;
    flex-direction: column;
    background-color: #fff;
}
#cadastro h1{
    margin-bottom: 24px;
}
.background{
    height: 120px;
    background-image: url(../../images/back.png);
    background-size: cover;
    background-position: center;
}
.container{
    max-width: 478px;
    border-radius: 12px;
    overflow: hidden;
}
.name, .class, .code{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 24px;
}

.birth{
    display: flex;
    justify-content: space-between;
}
.birth .gender{
    margin-left: 16px;
}
.birth input{
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 24px;
}
.birth input:focus,.name:focus, .class:focus, .code:focus{
    outline: none;
    border-bottom: 2px solid rgb(100, 100, 211);
}
.btn{
    width: 112px;
    height: 32px;
    border: none;
    outline: none;
    background-color: #55b944;
    color: #fff;
    border-radius: 8px;
}
